//colors
$white: white;
$color_boston_blue_approx: #428bca;
$color_celeste_approx: #cccccc;
$color_mountain_mist_approx: #999999;
$color_pewter_approx: #99a1a7;

//fonts
$font_0: Trebuchet;
$font_1: Arial;
$font_2: sans-serif;

//@extend-elements
//original selectors
//.onoffswitch-inner:before, .onoffswitch-inner:after
%extend_1 {
	float: left;
	width: 50%;
	height: 16px;
	padding: 0;
	line-height: 16px;
	font-size: 14px;
	color: $white;
	font-family: $font_0, $font_1, $font_2;
	font-weight: bold;
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
}


.onoffswitch {
	position: relative;
	width: 33px;
	margin: 1px 5px 0 0;
	float: left;
}
.onoffswitch-checkbox {
	display: none;
	&:checked + .onoffswitch-label {
		.onoffswitch-inner {
			margin-left: 0;
		}
		.onoffswitch-switch {
			right: 0;
		}
	}
}
.onoffswitch-label {
	display: block;
	overflow: hidden;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 30px;
	cursor: pointer;
	font-weight: normal;
}
.onoffswitch-inner {
	width: 200%;
	margin-left: -100%;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: margin 0.2s ease-in 0s;
	&:before {
		@extend %extend_1;
		content: "";
		padding-left: 10px;
		background-color: $color_boston_blue_approx;
		color: $white;
	}
	&:after {
		@extend %extend_1;
		content: "";
		padding-right: 10px;
		background-color: $color_celeste_approx;
		color: $color_mountain_mist_approx;
		text-align: right;
	}
}
.onoffswitch-switch {
	width: 12px;
	height: 12px;
	margin: 2px;
	background: $white;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 30px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 17px;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 0.2s ease-in 0s;
}
.onoffswitch-clear {
	clear: both;
}
.regular-checkbox-container {
	padding-left: 0;
}
.regular-checkbox {
	display: none;
	+ .regular-checkbox-box {
		background-color: none;
		border: 2px solid $color_celeste_approx;
		padding: 7px;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 3px;
		display: inline-block;
		position: relative;
		float: left;
		margin-right: 5px;
	}
	&:checked + .regular-checkbox-box {
		border: 2px solid $color_boston_blue_approx;
		background: $color_boston_blue_approx;
		color: $white;
		&:after {
			content: '\2714';
			font-size: 14px;
			position: absolute;
			top: -3px;
			left: 1px;
			color: $white;
		}
	}
}
.regular-checkbox-clear {
	clear: both;
}
.regular-radio-container {
	padding-left: 0;
}
.regular-radio {
	display: none;
	+ .regular-radio-button {
		background-color: none;
		border: 2px solid $color_celeste_approx;
		padding: 7px;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 50px;
		display: inline-block;
		position: relative;
		margin-right: 5px;
		float: left;
	}
	&:checked + .regular-radio-button {
		background-color: none;
		color: $color_pewter_approx;
		border: 2px solid $color_celeste_approx;
		margin-right: 5px;
		&:after {
			content: ' ';
			width: 8px;
			height: 8px;
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 50px;
			position: absolute;
			top: 3px;
			background: $color_boston_blue_approx;
			//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			text-shadow: 0;
			left: 3px;
			font-size: 32px;
		}
	}
}
.chk_rdo .form-group {
	margin-bottom: 0;
	label {
		margin-bottom: 0;
	}
}
